/* App container */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login container */
  .login-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* Login options */
  .login-options {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Style the Google login button */
  .btn-danger {
    background-color: #dd4b39;
    border-color: #dd4b39;
  }
  
  .btn-danger:hover {
    background-color: #c23321;
    border-color: #c23321;
  }
  