.Home-bodycontent {
    max-width: 900px;
    margin-top: -450px;
    margin-left: 220px;
    position: relative;
    backdrop-filter: blur(1.3px);
    text-align: center;
    z-index: 990;
  }
.typewriter h2 {
    
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 7.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

.hometext {
  color: white;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }
  
  @media (max-width: 768px) {
    .Home-bodycontent {
        max-width: 490px;
        margin-top: -450px;
        margin-left: 20px;
        position: relative;
        text-align: center;
        z-index: 990;
    }
  }