/* Popup.css */

.popup-overla  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    z-index: 9999;
  }
  
  .popup-conten {
    width: 90%;
    margin-top: 62px;
    height: 79%;
    max-height: 1000px;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .popup-heade {
    margin-bottom: 20px;
  }
  
  .popup-heade h3 {
    font-size: 20px;
    margin: 0;
  }
  
  .popup-bod {
    flex-grow: 1;
  }
  
  .popup-foote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  }
  
  .popup-foote button {
    margin-left: 10px;
  }
  
  
  .imag-model{
   width:670px;
   height:450px;
  }

  @media screen and (width <1000px) {

    .imag-model{
      width:420px;
      margin-left: -20px;
      height:440px;
     }
  }